{% extends 'base.html' %}
{% block content %}
<div class="border-b border-gray-200 pb-4">
    <h1 class="text-2xl font-bold">Component Showcase</h1>
    <p class="text-gray-500 text-sm mt-2">
        Tailwind component Learning by Doing
    </p>
    <br>
    <section class="space-y-2">
        <h2 class="text-2xl font-semibold">Typography</h2>
        <p class="text-gray-500 text-sm">การจัดการรูปแบบข้อความ</p>
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-5 space-y-3">
            <h1 class="text-3xl font-extrabold">Heading - หัวเรื่อง</h1>
            <h2 class="text-2xl font-bold">Subheading - หัวเรื่องย่อย</h2>
            <h3 class="text-xl font-semibold">Section Heading - หัวเรื่องเล็ก</h3>

            <p class="text-base">ข้อความธรรมดา</p>
            <p class="text-sm text-gray-500">ข้อความขนาดเล็ก</p>
            <a href="#" class="text-blue-500 hover:underline">Link</a>
        </div>
    </section>
    <hr class="my-4">
    <section>
        <h2 class="text-2xl font-semibold">Button</h2>
        <p class="text-gray-500 text-sm">การจัดการรูปแบบปุ่ม</p>
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-5 space-y-3">
            <button class="py-2 px-4 bg-blue-700 rounded-xl">Primary</button>
            <button class="py-2 px-4 bg-gray-700 rounded-lg">Dary</button>
            <button class="py-2 px-4 bg-green-600 rounded-md">Success</button>
            <button class="py-2 px-4 bg-red-600 rounded-sm">Danger</button>
            <button class="py-2 px-4 bg-yellow-500">Warning</button>
            <button class="py-2 px-4 border border-blue-600 text-blue-600 hover:bg-blue-100 rounded-xl">Outline
                Primary</button>

        </div>
    </section>
    <hr class="my-4">
    <section>
        <h2 class="text-2xl font-semibold">Layout - Flex/Flexbox</h2>
        <p class="text-gray-500 text-sm">การจัดการ components ด้วย Flexbox ไม่ว่าจะเป็น row หรือ column</p>
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-5 space-y-3">
            <div class="flex gap-3 bg-gray-100 p-2 rounded-md text-center">
                <div class="bg-blue-600 text-white text-sm p-3 rounded-md">1</div>
                <div class="bg-blue-600 text-white text-sm p-3 rounded-md">2</div>
                <div class="bg-blue-600 text-white text-sm p-3 rounded-md">3</div>
            </div>
            <div class="flex flex-col gap-2 bg-gray-100 p-2 w-24 text-center">
                <div class="bg-red-600 text-white text-sm p-3 rounded-md">1</div>
                <div class="bg-yellow-500 text-white text-sm p-3 rounded-md">2</div>
                <div class="bg-green-600 text-white text-sm p-3 rounded-md">3</div>
            </div>

            <div class="space-y-2">
                <p class="my-4 text-sm text-gray-500">จัดตำแหน่งตาม main axis</p>
                <p class="my-4 text-sm text-gray-500">justify - start</p>
                <div class="flex justify-start gap-2 bg-gray-100 p-1">
                    <div class="bg-red-600 text-white text-sm p-3 rounded-md">1</div>
                    <div class="bg-red-600 text-white text-sm p-3 rounded-md">2</div>
                    <div class="bg-red-600 text-white text-sm p-3 rounded-md">3</div>
                </div>
                <p class="my-4 text-sm text-gray-500">justify - center </p>
                <div class="flex justify-center gap-2 bg-gray-100 p-1">
                    <div class="bg-yellow-300 text-white text-sm p-3 rounded-md">1</div>
                    <div class="bg-yellow-300 text-white text-sm p-3 rounded-md">2</div>
                    <div class="bg-yellow-300 text-white text-sm p-3 rounded-md">3</div>
                </div>
                <p class="my-4 text-sm text-gray-500">justify - end </p>
                <div class="flex justify-end gap-2 bg-gray-100 p-1">
                    <div class="bg-green-600 text-white text-sm p-3 rounded-md">1</div>
                    <div class="bg-green-600 text-white text-sm p-3 rounded-md">2</div>
                    <div class="bg-green-600 text-white text-sm p-3 rounded-md">3</div>
                </div>
                <p class="my-4 text-sm text-gray-500">justify - between </p>
                <div class="flex justify-between gap-2 bg-gray-100 p-1">
                    <div class="bg-violet-300 text-white text-sm p-3 rounded-md">1</div>
                    <div class="bg-violet-300 text-white text-sm p-3 rounded-md">2</div>
                    <div class="bg-violet-300 text-white text-sm p-3 rounded-md">3</div>
                </div>
            </div>
            <div class="space-y-2">
                <p class="my-4 text-sm text-gray-500">จัดตำแหน่งตาม cross axis</p>
                <p class="my-4 text-sm text-gray-500">items-start</p>
                <div class="flex items-start gap-2 bg-gray-100 p-2 h-20">
                    <div class="bg-rose-600 rounded text-white p-3 w-10 h-10">A</div>
                    <div class="bg-rose-600 rounded text-white p-3 w-10 h-10">B</div>
                    <div class="bg-rose-600 rounded text-white p-3 w-10 h-10">C</div>
                </div>
            </div>
            <div class="space-y-2">
                <p class="my-4 text-sm text-gray-500">items-center</p>
                <div class="flex items-center gap-2 bg-gray-100 p-2 h-20">
                    <div class="bg-sky-600 rounded text-white p-3 w-10 h-10">A</div>
                    <div class="bg-sky-600 rounded text-white p-3 w-10 h-10">B</div>
                    <div class="bg-sky-600 rounded text-white p-3 w-10 h-10">C</div>
                </div>
            </div>
            <div class="space-y-2">
                <p class="my-4 text-sm text-gray-500">items-end</p>
                <div class="flex items-end gap-2 bg-gray-100 p-2 h-20">
                    <div class="bg-olive-600 rounded text-white p-3 w-10 h-10">A</div>
                    <div class="bg-olive-600 rounded text-white p-3 w-10 h-10">B</div>
                    <div class="bg-olive-600 rounded text-white p-3 w-10 h-10">C</div>
                </div>
            </div>
    </section>
    <hr class="my-4">
    <section>
        <h2 class="text-2xl font-semibold">Padding</h2>
        <p class="text-gray-500 text-sm">ระยะห่างจากขอบ "เข้าไปด้านในกล่อง"</p>
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-5 space-y-3">


        </div>
    </section>
</div>
{% endblock %}