{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part2: Webdev 2569</title>
    {% tailwind_css %}
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light border-bottom mb-4 ">
        <div class="container">
            <span class="navbar-brand">My Webdev 2569</span>
            <div class="navbar-nav">
            {% if user.is_authenticated %}
                <span class="navbar-text me-2">Welcome, {{ user.username }}!</span>
                <form class="d-inline" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                </form>
            {% else %}
                <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-outline-success btn-sm me-2" href="{% url 'register' %}">Register</a>
            {% endif %}
            </div>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>